<!DOCTYPE html>
  <head>
    <%= render partial: "shared/head" %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render partial: "shared/header" %>
      <%= render partial: "light_section" %>
      <%= yield %>
      <%= render partial: "shared/footer" %>
      <%= render partial: "shared/copy_right" %>
    </div>
    <%= render partial: "shared/login_modal" %>
    <%= render partial: "shared/signup_modal" %>
    <%= render partial: "shared/product_quick_view_modal" %>
  </body>
</html>
